<div class="navbar" xmlns:th="http://www.thymeleaf.org">
    <button th:onclick="|location.href='@{/FootballMatches}'|">All matches</button>
    <button th:onclick="|location.href='@{/addFootballMatch}'|">Add match</button>
    <button th:onclick="|location.href='@{/editFootballMatch}'|">Edit match</button>
    <button th:onclick="|location.href='@{/deleteFootballMatch}'|">Delete match</button>
    <button th:onclick="|location.href='@{/FootballMatchesByTeamName}'|">Find matches</button>
    <button th:onclick="|location.href='@{/addPlayer}'|">Add player</button>
    <button th:onclick="|location.href='@{/TeamsWithPlayers}'|">Teams with Players</button>
</div>
